{% load humanize %}

<div>
  <div class="card shadow-sm h-100">
    <div class="card-body p-0">
      <table class="table m-0 text-center align-middle">
        <thead class="table-primary">
          <tr>
            <th colspan="2" class="fw-bold text-uppercase">
              {{ card.nombre }}
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Valor grande con semáforo -->
          <tr>
            <td colspan="2" rowspan="2">
              <div
                class="p-2 fw-bold rounded fs-4 {% if card.alerta_merma == 'success' %}bg-success text-white {% elif card.alerta_merma == 'warning' %}bg-warning {% else %}bg-danger text-white {% endif %}"
              >
                {{ card.porc_merma_venta|floatformat:2 }}%
              </div>
            </td>
          </tr>
          <tr></tr>

          <!-- Etiqueta debajo del valor -->
          <tr>
            <td colspan="2" class="fw-bold text-uppercase">Merma en %</td>
          </tr>

          <!-- Resto de datos -->
          <tr>
            <td class="fw-bold text-start">Presupuesto</td>
            <td class="text-success fw-bold text-end">
              {{ card.presupuesto|floatformat:2 }}%
            </td>
          </tr>
          <tr>
  <td class="fw-bold text-start">Diferencia</td>
<td class="fw-bold text-end 
  {% if card.dif_porc >= 0 %}
    text-success
  {% elif card.dif_porc >= -0.2 %}
    text-warning
  {% else %}
    text-danger
  {% endif %}
">
    {{ card.dif_porc|floatformat:2 }}%
  </td>
</tr>
            <td class="fw-bold text-start">Merma $</td>
            <td class="text-danger fw-bold text-end">
              $ {{ card.monto_mermas|floatformat:0|intcomma }}
            </td>
          </tr>
          <tr>
            <td class="fw-bold text-start">Desvío $</td>
            <td class="text-dark fw-bold text-end">
              $ {{ card.dif_monto|floatformat:0|intcomma }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
